.chatPage{
    display: flex;
    background-color: rgb(31,29,29);
    height:100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.chatContainer{
    background-color: white;
    height: 60%;
    width: 60%;
}

.header{
    height: 15%;
    background-color: crimson;
}

.chatBox{
border: 0.2vmax solid black;
height: 70%;
box-sizing:border-box;
}

.inputBox{
    height: 15%;
    border: 0.2vmax solid black;
    box-sizing: border-box;
    display: flex;

}

#chatInput{
    width: 80%;
    border: none;
    background-color: white;
    padding: 1.4vmax;
    outline: none;
    font-size: 1.2vmax;
}

.sendBtn{
    background-color: crimson;
    color: white;
    border: none;
    width:20%;
}

.sendBtn img{
    width: 3vmax;
    filter:brightness(100);
    transition: all 0.3s;
}

.sendBtn img:hover{
    transform: translateX(180deg);
}